<%= form_for ([@story, @story.comments.build]) do |f| %>
  <p>
    <%= f.label :commentor_id %> ( id )<br>
    <%= f.text_field :commentor_id %>
  </p>
  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

